.dev-console-main-container
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	position: absolute;
	z-index : 7000;
	opacity: 0;
}

.dev-console-dialog
{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index : 7000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.dev-console-dialog .input-output-container
{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.devconsole-input-layout,
.devconsole-output-layout
{
	max-height: 45%;
	width: 95%;
}

.devconsole-input-layout .console-textarea
{
	width: 100%;
	background-image: none !important;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.8) !important;
	background-size: 100% 100% !important;
	background-repeat: no-repeat;
	overflow: scroll;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	-moz-user-select: -moz-text;
	-webkit-user-select: text;
	user-select: text;
    pointer-events: auto;
}
.devconsole-output-layout
{
	pointer-events: auto;
}

.devconsole-output-layout .list
{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.8) !important;
}
.devconsole-output-layout .log-entry
{
    margin-left: 0.7rem;
    margin-right: 0.2rem;
    overflow-wrap: break-word;
    -moz-user-select: -moz-text !important;
	-webkit-user-select: text !important;
	user-select: text !important;
    pointer-events: auto !important;
}


.dev-console-dialog .dev-console-footer
{
    width: 100%;
    height: 6.0rem;
}

.dev-console-dialog .dev-console-footer .l-button-bar
{
    width: 100%;
    height: 4.3rem;
    display: flex;
    position: absolute;
    margin: auto;
}

.dev-console-dialog .dev-console-footer .l-button-bar .l-ok-button
{
    top: 0;
    right: 0;
    width: 23.0rem;
    text-align: center;
    line-height: 3.0rem;
}

.font-color-JS
{
	color: red !important;
}

.aciSb_resize.desk {
	z-index:10002;
	background:url("coui://ui/extern/jquery-aciScrollBar/image/aciScrollBar.desk/resize.png") 0 0 no-repeat;
}
.aciSb_track_h.desk {
	background:url("coui://ui/extern/jquery-aciScrollBar/image/aciScrollBar.desk/track_h.png") 0 0 repeat-x;
}

.aciSb_track_v.desk {
	background:url("coui://ui/extern/jquery-aciScrollBar/image/aciScrollBar.desk/track_v.png") 0 0 repeat-y;
}
.aciSb_space_t.desk
 {
	width:18px;
	height:18px;
    z-index:10003;
	background:url("coui://ui/extern/jquery-aciScrollBar/image/aciScrollBar.desk/end.png") 0 0 no-repeat;
}

.aciSb_space_b.desk
 {
	width:18px;
	height:18px;
    z-index:10003;
	background:url("coui://ui/extern/jquery-aciScrollBar/image/aciScrollBar.desk/end.png") 0 0 no-repeat;
}
.aciSb_drag_hg.desk {
	width:20px;
	background:url("coui://ui/extern/jquery-aciScrollBar/image/aciScrollBar.desk/drag_g.png") 0 0 no-repeat;
    z-index:10004;
}
.aciSb_drag_vg.desk {
	height:32px;
	background:url("coui://ui/extern/jquery-aciScrollBar/image/aciScrollBar.desk/drag_g.png") 0 0 no-repeat;
    z-index:10004;
}

.dom-element-inspector
{
	border: 1px solid red;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 99999;
	color: white;
	font-size: 20px;
	position: absolute;
	top:0px;
	left:0;
}
.dom-element-inspector > *
{
	pointer-events:none;
}
.dom-element-inspector-selected
{
	outline: 2px solid red;
}
