.dev-console-main-container
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	position: absolute;
	z-index : 7000;
	opacity: 0;
}

.dev-console-dialog
{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index : 7000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.dev-console-dialog .input-output-container
{
	height: 100%;
	width: 100%;
}

.devconsole-input-layout,
.devconsole-output-layout
{
	max-height: 45%;
	width: 90%;
}

.devconsole-input-layout .console-textarea
{
	background-image: none !important;
	background-color: black !important;
	border: 1px solid gold !important;
	background-size: 100% 100% !important;
	background-repeat: no-repeat;
	overflow: scroll;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
    -webkit-user-select: text !important;
}

.devconsole-output-layout .list
{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid gold !important;
}
.devconsole-output-layout .log-entry
{
    margin-left: 0.7rem;
    margin-right: 0.2rem;
    overflow-wrap: break-word;
}


.dev-console-dialog .dev-console-footer
{
    width: 100%;
    height: 6.0rem;
}

.dev-console-dialog .dev-console-footer .l-button-bar
{
    width: 100%;
    height: 4.3rem;
    display: flex;
    position: absolute;
    margin: auto;
}

.dev-console-dialog .dev-console-footer .l-button-bar .l-ok-button
{
    top: 0;
    right: 0;
    width: 23.0rem;
    text-align: center;
    line-height: 3.0rem;
}

.font-color-JS
{
	color: red !important;
}
