.dev-console-debug-info {
z-index : 7000;
 position: fixed;
 bottom: 0;
 left: 0;
 background-color: rgba(0, 0, 0, 0.8);
 padding: 10px;
 font-family: monospace;
 font-size: 12px;
 line-height: 1.2;
}

.dev-console-debug-info-row {
	color: #ff0000; /* Red for disabled */
 display: block;
 margin-bottom: 2px;
}

.dev-console-debug-info-row.enabled {

	color: #00ff00; /* Green */
}

.dev-console-popup-container {
 display: flex;
 flex-direction: column;
 z-index: 9999;
}

.dev-console-info-popup {
 color: #ffffff;
 padding: 4px 6px;
 margin-bottom: 1px;
}
